
table {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;
}

.title {
  color: inherit;
  text-decoration: none;
}

th,
td {
  text-align: left;
  padding: 20px;
  color: #333;
  height: 25px;
}

tr:hover td {
  background: #fafafa;
  cursor: pointer;
}

.author {
  color: #999;
  cursor: pointer;

}

td {
  border-bottom: 1px solid #ccc;
}

.showTrash{
  display: block;
}

.hideTrash{
  display: none;
}
.row{
  min-height: 20px;
}

.date {
  color: inherit;
  text-decoration: none;
}
