
  <table>
    <tbody>
    <tr class="row" *ngFor="let search of searchList; let i = index " (mouseover)="showTrash(i)" (mouseleave)="hideTrash(i)" >
      <td (click)="linkUrl(search.url)"  style="width:80%; ">
          <a class="title"> {{ search.title }} </a>
          <label class="author"> {{ search.author | author }}</label>
      </td>
      <td (click)="linkUrl(search.url)" style="width:10%; ">
        <a class="date">  {{ search.createdAt | dateFormat }} </a>
      </td>
      <td style="width:10%; ">
        <div [id]="i" class="hideTrash" (click)="delete(search.objectID)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="black"
            width="20px"
            height="20px">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"
            />
          </svg>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


